body {
	background-color: white;
}
h1 {
	color: black;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;  
	font-size: 26px;
	font-weight: normal;
}
h2 {
	color: black;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;  
	font-size: 11px;
	font-weight: normal;
}
p {
	color: black;
	text-align: left;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;  
	font-size: 9px;
	font-weight: normal;
	line-height: 12px;
}
.left {
	float: left; 
	width: 50%
}
.right {
	float: left;
	width: 50%;
}
.leftContent {
	padding-right: 15px;
}
.rightContent {
	padding-left: 15px;
}
h1, h2 {
  line-height: 3px; 
}
a {
	color: inherit;
}
a:hover {
    color: #CCCCCC;
}
a i:hover {
    color: #CCCCCC;
}
.name {
	width: 350px;
	text-align: center;
	float: right;
}
.contact {
	width: 128px;
	text-align: center;
	float: right;
}
.container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.icons {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 20px;
}
.fa-twitter {
	color: #000000;
	font-size: 25px !important;
}
.fa-linkedin {
	color: #000000;
	font-size: 25px !important;
}
.fa-envelope-o {
	color: #000000;
	font-size: 25px !important;
}
.content {
	display: flex;
	align-items: center;
}